/* variables */
:root {
  --primary: #a54949;
  --light: #f5f0f1;
}

/* reset */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}